<%= form_for @sport do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :equip %>
    <%= f.text_field :equip %>
  </p>
  <p>
    <%= f.submit 'Add sport' %>
  </p>
<% end %>

<%= @sports.each do |sport| %>
<ul>
  <li>
    <%= sport.name %>, <%= sport.equip %>
  </li>
</ul>
<% end %>